/*
.config/*

imgurUpload.py
MCPMappingViewer.jar

!.config/
!.bashrc
!.config/kitty
!.config/sway
!.config/hypr
!.config/waybar
!.config/wired
!.config/wofi
!.config/nvim/init.vim
!.config/rofi
!.config/neofetch
!scripts
!.gitignore
