.bashrc
.bash_history
.bash_profile
.bash_logout
.zhistory
.python_history
.gitconfig
.nvidia-settings-rc
.histfile
.lesshst
.pulse-cookie
.steampath
.steampid
.viminfo
*.restore

.zcompdump
.zcompdump-*
.zcompdump-*.zwc

.cache/*
.cargo/*
.ssh/*
.pki/*
.mozilla/*
.m2/*
.java/*
.local/*
.gnupg/*
.gradle/*

bigssd
nvssd
ssd

.config/nvim/*
!.config/nvim/init.vim

.config/*
*/*
