##########
### ~/ ###
##########
*
!.zshrc
!.gitignore
!.drirc

#################
### ~/scripts ###
#################
!scripts/
!scripts/aurbuild.py
!scripts/calc.py
!scripts/fzf-preview.sh
!scripts/killwine.sh
!scripts/yt-dl.py
!scripts/imgurUpload.sh

#################
### ~/.config ###
#################
!.config/

# Neovim
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/keybinds.lua
!.config/nvim/lua/setup.lua

# Hyprland
!.config/hypr/
!.config/hypr/hyprland.conf
!.config/hypr/hyprpaper.conf
!.config/hypr/hypridle.conf
!.config/hypr/xdph.conf
!.config/hypr/wallpaper.png

# Dunst
!.config/dunst/
!.config/dunst/dunstrc

# Kitty
!.config/kitty/
!.config/kitty/kitty.conf

# Btop
!.config/btop/
!.config/btop/btop.conf

# zsh
!.config/zsh/
!.config/zsh/aliases.zsh
!.config/zsh/wapic.zsh-theme

# Wofi
!.config/wofi/
!.config/wofi/config
!.config/wofi/style.css

# Waybar
!.config/waybar/
!.config/waybar/config
!.config/waybar/style.css
