* {
	font-size: 20px;
	font-family: Fira Code Nerd Font Regular;
}

window#waybar {
	background: #1f2329;
	color: #a0a8b7;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1f2329;
	background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#battery,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
    color: #a0a8b7;
}
#workspaces button.active {
	color: #4581eb;
}

#workspaces button:hover {
	text-shadow: inherit;
	box-shadow: inherit;
	background: #101010;
    border: #101010;
    padding: 0 2px;
    color: #a0a8b7;
}

#pulseaudio {
	color: #4581eb;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}

