* {
	font-size: 20px;
	font-family: Fira Code Nerd Font Regular;
}

window#waybar {
	background: #012120;
	color: #438279;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #011111;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #012120;
	background: #011111;
}

#workspaces,
#clock,
#pulseaudio,
#battery,
#network,
#bluetooth,
#tray {
	background: #011111;
}

#workspaces button {
	padding: 0 2px;
}

#workspaces button.active {
	color: #438279;
}

#pulseaudio {
	color: #4581eb;
}

#bluetooth {
	color: #00ffff;
}

#battery {
	color: #8ebd6b;
}

#network {
    color: #AFDECE;
}

#clock,
#pulseaudio,
#battery,
#network,
#bluetooth {
	padding: 0 10px;
}

