window {
    border:         1px solid #268bd2;
    background-color: rgba(41,43,46,0.95);
}

#input {
    border: none;
    background-color: rgba(26,26,26,0.8);
    margin: 2px;
    color: white;
}

#entry {
    margin: 2px 4px 2px 4px;
}

#text {
    color: white;
}

#entry:selected {
    background-color:   rgba(26,26,26,0.8);
}
