window {
    border:         1px solid #05625E;
    background-color: #012120;
    color: #438279;
}

#outer-box {
    margin: 4px;
}

#entry:selected, #input {
    outline: none;
    background-color: #011111;
}

#img {
    padding-right: 4px;
}
